.site-header.video-header {

	+.hero {
		background-color: #000;
		color: #000;
		position: relative;
		overflow: hidden;

		.hero-inner,
		aside.primer-hero-text-widget {
			width: 100%;
			z-index: 5;
		}

		#wp-custom-header {
			position: absolute;
			height: 100vh;
			margin-top: -30vh;
			top: 0;
			left: 0;

			img {
				display: none;
			}
		}

		#wp-custom-header-video-button {
			position: absolute;
			bottom: 0.5em;
			left: 1em;
			opacity: 0.5;
			z-index: 11;
		}

		iframe#wp-custom-header-video {
			height: 100%;
			max-width: 100%;
		}
	}
}

.hero {
	color: white;
	clear: both;
	padding: 40px;
	text-align: center;
	background-color: #ccc;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	.hero-inner {
		border: 3px solid rgba(255, 255, 255, 0.5);
		padding: 20px;
	}

	.widget {
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: 300;
		background: none;

		&::last-child {
			margin-bottom: 0;
		}

		.widget-title {
			font-style: italic;
			font-weight: bold;
		}

		.widget-title, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
			color: white;
		}

		ul, ol {
			padding-left: 0;

			li {
				list-style: none;
			}
		}

		input, select, textarea {
			color: $color__text-input;
		}
	}

	label, input, select, textarea {
		display: inline;
		width: auto;
	}
}
