@media only screen and (min-width: 64.063em) {

	.footer-widget-area .footer-widget {
		width: 33%;
	}

}

.footer-widget-area {

	.footer-widget {
		border: 2px solid transparentize($color-white, 0.83);
		min-height: 250px;

		.widget {
			background-color: transparent;
			font-size: .875rem;

			ul,
			li,
			a,
			p {
				font-size: .875rem;
			}

		}

		.widget-title {
			border-bottom: none;
			font-size: 1rem;
			font-style: italic;;
		}

	}

}

.site-info-wrapper {
	background: $color-footer;
	color: $color-label;
	margin: 0 auto;
	padding: 50px 0;

	a {
		color: $color-label;
	}

}

.footer-nav {
	margin-bottom: 15px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			font-size: .875rem;
			margin: 0 15px;
			text-align: center;
			text-transform: uppercase;

			@media only screen and (min-width: 64.063em) {
				text-align: left;
			}

			a {
				color: $color-text;
			}

		}

	}

}

.footer-nav {
	padding: 50px 0 0;
}

.site-info-wrapper {
	padding: 0 0 50px;

	.site-info {
		overflow: visible;
		text-align: center;
	}

	.site-info-text {
		font-size: .875rem;
		width: 100%;
	}

}

.footer-nav {

	.social-menu {
		margin-bottom: 30px;

		li {
			margin: 0 2px;
		}

		a {
			background: none;
			color: $color-social;
			height: 46px;
			width: 46px;

			&:before {
				font-size: 1.85rem;
			}

			&:link,
			&:visited,
			&:hover,
			&:active {
				background: none;
				color: $color-social;
			}

		}

	}

}

.site-info-wrapper a,
.site-info .social-menu a {
	color: $color-input-text;
}

.site-info-wrapper,
.footer-nav,
.site-info-wrapper {
	background: $color-white;
}
