.site-header {
	background-color: $color-white;
	text-align: center;
}

.custom-logo {
	margin: 30px 0;

	@media only screen and (max-width: 64.062em) {
		margin: 30px 0 15px;
		padding: 0 25px;
	}

}

.site-description {
	margin-bottom: 20px;
}

.site-title a:hover,
.site-title a:visited:hover {
	color: $color-text;
}

.entry-title a:hover,
.entry-title a:visited:hover {
	color: $color-text;
}

.hero {
	background: url('.dev/img/header.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	top: 0;
	left: 0;

	.hero-wrapper {
		padding: 60px 0;

		@media only screen and (max-width: 64.062em) {
			padding: 30px;
		}

		.widget {
			border: 3px solid $color-white;
			margin: 0;
			padding: 80px;
			text-align: center;

			@media only screen and (max-width: 64.062em) {
				padding: 30px;
			}

			h1 {
				color: $color-white;
				display: inline-block;
				font-size: 3.75rem;
				font-style: normal;
				font-variant: small-caps;
				font-weight: bold;
				line-height: 1;
				text-align: left;

				@media only screen and (max-width: 64.062em) {
					font-size: 2.5rem;
					text-align: center;
				}

			}

			p {
				font-size: 1.25rem;
			}

			a {
				background-color: transparent;
				border: 2px solid $color-white;
				color: $color-white;
				font-size: 1.125rem;
				font-variant: small-caps;
				font-weight: bold;
				letter-spacing: .2em;
				padding: 1rem 2rem;
			}

		}

	}

}

.site-title-wrapper {
	float: none;
	padding: 0;
}

.site-title {
	padding: 30px 0 0;
}

@media only screen and (min-width: 64.063em) {

	.row,
	.footer-widget-area {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

}
