.main-navigation-container {
	background: none;
	padding: 12px 0 6px;
}

.site-header .site-header-wrapper .main-navigation {
	margin: 0;
}

.main-navigation {
	background: none;
	margin: 0;

	ul {
		display: inline-block;
		text-align: center;

		li {
			margin: 0 12px;

			a {
				color: $color-text;
				font-size: .875rem;
				font-weight: bold;
				padding: 0;
				text-transform: uppercase;
			}

			ul {
				background: $color-white;

				li {
					margin: 0;
					padding: 12px;
				}

			}

		}

	}

}

.main-navigation .sub-menu .menu-item-has-children > .menu-item a::after {
	border-bottom: 7px solid $color-white;
	border-left: 7px solid $color-text;
	border-top: 9px solid $color-white;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	background-color: transparent;
}

.main-navigation li > a {

	&:hover {
		background-color: transparent;
		color: $color-text;
	}

}

.side-masthead, .site-title a, .site-description, .site-title a:hover, .site-title a:visited, .site-title a:focus, .hero-widget, header .main-navigation-container .menu li a, .main-navigation-container .menu li.current-menu-item > a, .main-navigation-container .menu li.current-menu-item > a:hover, .side-masthead .site-title a, .side-masthead .site-title a:hover, .hero-widget h2.widget-title {
	color: $color-text;
}

.main-navigation a:hover,
.main-navigation a:visited:hover {
	color: $color-text;
}
