.main-navigation-container {
	padding: 12px 0 6px;
}

.site-header .site-header-wrapper .main-navigation {
	margin: 0;
}

.main-navigation {
	background: none;
	margin: 0;

	ul {
		display: inline-block;
		text-align: center;

		li {
			margin: 0 12px;

			a {
				color: $color-text;
				font-size: .875rem;
				font-weight: bold;
				padding: 0;
				text-transform: uppercase;
			}

		}

	}

}
