// Fonts
$primary-font:   "Playfair Display";
$secondary-font: "Lato";
$heading-font:   "Playfair Display";

// Colors
$header-textcolor:        #222222;
$background-color:        #f9f9f9;
$header-background-color: #ffffff;
$menu-background-color:   #b5345f;
$footer-background-color: #2c3845;
$tagline-text-color:      #999999;
$link-color:              #b5345f;
$main-text-color:         #0b3954;
$secondary-text-color:    #686868;
