// Allows the use of rem-calc() or lower-bound() in your settings
@import "../mixins/functions";

// Left-to-Right language support by default
$text-direction: ltr;

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/

$color-red: #54ccbe;
$color-white: #ffffff;
$color-text: #000000;
$color-disabled: #c5c3c6;
$color-background: #ffffff;
$color-button: #b5345f;
$color-border: #3f3244;
$color-input-background: #ffffff;
$color-input-text: #000000;
$color-label: #000000;
$color-footer: #ffffff;
$color-link: #54ccbe;
$color-social: #b5345f;
